.about-wrapper {
  background-color: #fbfbfb;
  border-radius: 24px;
  overflow: hidden;
}

.about-content-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 50px 50px 100px;
}

.about-title {
  width: 537px;
  color: #1b414b;
  text-align: left;
}

.about-right {
  width: 404px;
}

.about-text {
  font-weight: 400;
  font-size: 23px;

  /* line-height: 23px; */
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
}

.about-description {
  font-weight: 400;
  font-size: 13px;

  /* line-height: 15px; */
  line-height: 1.15;
  letter-spacing: -0.02em;
  color: #040306;
  opacity: 0.4;
}
