.footer-container {
  width: 1390px;
  padding: 50px 75px 20px;
  margin: 0 auto;

  border-radius: 24px 24px 0 0;

  background-color: #1b414b;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 96px;
}

.footer-logo {
  color: #fbfbfb;
}

.footer-nav-link {
  background-color: rgba(251, 251, 251, 0.3);
}

.footer-social-link {
  color: #fbfbfb;
}

.footer-text {
  width: 670px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 99px;

  font-weight: 400;
  font-size: 32px;

  line-height: 1;
  text-align: center;
  color: #fbfbfb;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  gap: 32px;

  font-weight: 400;
  font-size: 14px;

  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(251, 251, 251, 0.4);
}
